# Dependencias
node_modules/
jspm_packages/

wrangler.toml
.wrangler
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Build / dist
dist/
build/
out/

# Coverage
coverage/
.nyc_output/

# Cache
.cache/
.eslintcache
.parcel-cache/
.turbo/

# IDEs / Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Prisma
prisma/migrations/

# Next.js
.next/

# Docker
docker-compose.override.yml
